body {
    background-color: #f0f0f0; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.form {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
}

.formbtn {
    width: 25%;
    max-width: 250px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(241, 240, 240);
    border-radius: 100px; 
    cursor: pointer;
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

p {
    font-size: 12px;
    color: #555;
    margin-top: -10px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(55, 43, 226);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: rgb(35, 0, 130);
}

.btnreg {
    display: inline-block;
    padding: 8px 15px;
    width: 90px;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 5px;
    color: black;
    background-color: rgb(235, 232, 232);
    border: 2px solid #ccc;
    border-radius: 50px; 
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btnreg:hover {
    background-color: white;
    color: black;
}

a {
    color: blue;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}


.icon-buttons {
    display: flex;
    flex-direction: row;
    gap: 19px; 
    margin-bottom: 40px;
    padding-left: 1%; 
    padding-top: 5%; 

}

.icon-button {
    border: 1px solid #ccc; 
    background: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px; 
    height: 50px; 
    border-radius: 10px; 
}

.icon-button img {
    width: 30px;
    height: 30px;
}

.terms {
    text-align: center;
    font-size: 12px;
    color: #555;
    margin-top: 20px;
}

.terms a {
    color: rgb(76, 0, 255);
    text-decoration: none;
    font-weight: bold;
}

.terms a:hover {
    text-decoration: underline;
    color: rgb(65, 0, 139);
}

