body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #030303;
}

header {
    background-color: white;
    color: #070707;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px 0;
}

nav a {
    color: rgb(12, 12, 12);
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s;
}

/* nav a:hover {
    color: #ffcc00;
} */

.container {
    text-align: center;
    padding: 30px 20px;
}

.container h2 {
    color: black;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content p span {
    color: green;
    font-weight: bold;
}

.cta-buttons {
    margin-top: 20px;
}

.cta-buttons a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(239, 243, 239);
    color: rgb(1, 71, 19);
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.cta-buttons a:hover {
    background-color: rgb(2, 44, 2);
}
