body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #030303;
}

header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #000;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover,
nav a.active {
    color: #013b01;
    text-decoration: underline;
}

.register-btn {
    background-color: #013601;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.register-btn:hover {
    background-color: #012c01;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f8f8;
}

.hero h2 {
    font-size: 28px;
    color: #000;
}

.hero p {
    font-size: 18px;
    margin: 15px 0;
}

.hero .highlight {
    color: #001f00;
    font-weight: bold;
}

.cta-buttons {
    margin-top: 20px;
}

.cta-buttons a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #001600;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.cta-buttons a:hover {
    background-color: #001600;
}

.banner {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-top: 0%;
}

.banner h3 {
    color: #000;
    font-size: 20px;
}
.icon2 {
    width: 30%; 
    height: auto; 
}

